html
{
  touch-action: none;
}
body
{
  margin: 0 auto;
  background-color: #222222;
  font-family: "Ubuntu";
  color: #dddddd;
}
a
{
  color: #ffffff;
  text-decoration: none;
}
header, footer
{
  text-align: center;
}
header
{
  position: absolute;
  width: 100%;
  margin-top: 0;
  margin-bottom: 2em;
  color: #000000;
}
header h2
{
  margin: 0;
  background: #aaaaaa;
  padding: 0.5em 1em;
  font-weight: inherit;
}
footer
{
  width: 100%;
  background: #222222;
  position: absolute;
  bottom: 0;
}
canvas
{
  position: absolute;
  width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
#lower_bar
{
  user-select: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #1c1c1a;
  background-image: url('../images/lower_bg.png');
  border: 1px solid #41403d;
  box-sizing: border-box;
}
#lower_bar .lower_container
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  overflow: hidden;
}
#lower_bar .left {
  float: left;
}
#lower_bar .right {
  float: right;
  padding-right: 20px;
}
#lower_bar .form_container
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#lower_bar li
{
  float: left;
}
#lower_bar li a, #lower_bar .lower_item
{
  font-size: 0.8em;
  padding-left: 10px;
  height: 50px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  box-sizing: border-box;
}
#lower_bar input[type="text"]
{
  font-weight: 500;
  font-family: inherit;
  box-sizing: border-box;
  height: 36px;
  padding: 0 8px 0 8px;
  width: 394px;
  border: 2px solid #000;
  border-radius: 5px;
}
#lower_bar ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #787878;
}
#lower_bar ::-moz-placeholder { /* Firefox 19+ */
  color: #787878;
}
#lower_bar :-ms-input-placeholder { /* IE 10+ */
  color: #787878;
}
#lower_bar :-moz-placeholder { /* Firefox 18- */
  color: #787878;
}
#lower_bar input[type="submit"]
{
  font-family: inherit;
  box-sizing: border-box;
  background-color: #5b5b5b;
  height: 35px;
  padding: 0 8px 0 8px;
  border: 1px solid #2d6c48;
  border-radius: 5px;

  width: 80px;
	color: #ffffff;
	background-color: #27ae60;
}

#main_wrapper
{
  position: absolute;
  top: 150px;
  width: 100%;
  text-align: center;
}
.box, .invisible_box
{
  color: #ffffff;
  font-family: inherit;
  box-sizing: border-box;
	background-color: #404040;
	width: 600px;
	border: 1px solid #efefef;
  padding: 20px;
	border-radius: 5px;
  text-align: center;
  margin: 0 auto;
}
.invisible_box
{
  background: inherit;
  border: none;
  color: #aaaaaa;
}
#chat_container
{
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
.box input[type="text"]
{
  color: #ffffff;
  font-family: inherit;
  box-sizing: border-box;
	background-color: #5b5b5b;
	width: 250px;
	height: 35px;
	padding: 0 8px 0 8px;
	border: 1px solid #efefef;
	border-radius: 5px;
}
.box input[type="submit"]
{
  font-family: inherit;
  box-sizing: border-box;
  background-color: #5b5b5b;
  height: 35px;
  padding: 0 8px 0 8px;
  border: 1px solid #2d6c48;
  border-radius: 5px;

  width: 80px;
	color: #ffffff;
	background-color: #27ae60;
}
.box ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaaaaa;
}
.box ::-moz-placeholder { /* Firefox 19+ */
  color: #aaaaaa;
}
.box :-ms-input-placeholder { /* IE 10+ */
  color: #aaaaaa;
}
.box :-moz-placeholder { /* Firefox 18- */
  color: #aaaaaa;
}
input {
  outline: none;
}
@media screen and (max-width:950px) {
  #lower_bar .form_container
  {
    bottom: 55px;
  }
}
